p {
  margin: 5px;
  text-align: center;
}

.book-card__title {
  font-weight: bold;
}

.book-card__author {
  font-style: italic;
}

body {
  color: rgb(50, 50, 50);
  height: 100vh;
  margin: 0;
  background-color: rgb(185, 185, 185);
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

header, footer, .book-card {
  background-color: rgb(220, 220, 220);
}

main {
  padding: 0 4rem;
  grid-area: main;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-container {
  display: grid;
  justify-items: space-between;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 2rem;
}

.book-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 1rem;
  border: solid;
}

.book-card__text-container {
  display: flex;
  flex-direction: column;
}

.book-card__button-container {
  display: flex;
  justify-content: space-evenly;
}

.form {
  display: none;
  justify-content: center;
  flex-direction: column;
  padding: 1.2rem 1rem;
  border: solid;
  background-color: rgba(200, 200, 200);
  gap: 1.2rem;
  height: auto;
  width: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -125px;  /* Negative half of height. */
  margin-left: -125px;  /* Negative half of width. */
}

.form-buttons {
  display: flex;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}